.filter-sort-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  form {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligns items to the start vertically */
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between columns as needed */
  }

  .filter-section, .sort-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns labels to the start horizontally */
    flex: 1;
    min-width: 200px; /* Adjust the minimum width as needed */

    label {
      margin-bottom: 4px; /* Adds space between label and form field */
    }

    mat-form-field {
      width: 100%;
    }
  }
}