
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body {
    font-family: Arial, sans-serif;
    background-color: #0F2A3D;
    color: white;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
}
.mat-mdc-form-field-focus-overlay {
      background-color: transparent !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label--float-above,
.mat-mdc-select-arrow,
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before,
.mat-mdc-select {
    color: white !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: white !important;
}
.mat-mdc-text-field-wrapper {
    padding-left: 0 !important;
}